{{define "navbar"}}
<link rel="stylesheet" href="/static/css/navbar.css">
<header id="navbar">
    <div class="main-nav bg-dark text-light">
        <nav class="container flex">
            <a href="/">
                <img src="/static/img/logo/logo-big.png" alt="T-MOTOS">
            </a>
            <ul class="flex">
                <li><a href="/loja">Loja</a></li>
                <li><a href="/oficina">Oficina</a></li>
            </ul>
        </nav>
    </div>
    <div class="product-nav bg-accent text-dark">
        <ul class="container">
            <li><a href="/loja/pecas">Peças</a>
            <div class="product-menu bg-accent text-dark">
                <div class="category-grid container">
                    <div class="category">
                        <a href="/loja/pecas/motor" class="title">Motor</a>
                        <div class="subcategories">
                            <ul>
                                <li><a href="/loja/pecas/motor/pistoes">Pistoes</a></li>
                                <li><a href="/loja/pecas/motor/pistoes">Pistoes</a></li>
                                <li><a href="/loja/pecas/motor/pistoes">Pistoes</a></li>
                                <li><a href="/loja/pecas/motor/pistoes">Pistoes</a></li>
                                <li><a href="/lojapecas/motor/pistoes">Pistoes</a></li>
                            </ul>
                        </div>
                    </div> 

                    <div class="category">
                        <a href="/loja/pecas/motor" class="title">Motor</a>
                        <div class="subcategories">
                            <ul>
                                <li><a href="/loja/pecas/motor/pistoes">Pistoes</a></li>
                                <li><a href="/loja/pecas/motor/pistoes">Pistoes</a></li>
                                <li><a href="/loja/pecas/motor/pistoes">Pistoes</a></li>
                                <li><a href="/loja/pecas/motor/pistoes">Pistoes</a></li>
                                <li><a href="/lojapecas/motor/pistoes">Pistoes</a></li>
                            </ul>
                        </div>
                    </div> 

                    <div class="category">
                        <a href="/loja/pecas/motor" class="title">Motor</a>
                        <div class="subcategories">
                            <ul>
                                <li><a href="/loja/pecas/motor/pistoes">Pistoes</a></li>
                                <li><a href="/loja/pecas/motor/pistoes">Pistoes</a></li>
                                <li><a href="/loja/pecas/motor/pistoes">Pistoes</a></li>
                                <li><a href="/loja/pecas/motor/pistoes">Pistoes</a></li>
                                <li><a href="/lojapecas/motor/pistoes">Pistoes</a></li>
                            </ul>
                        </div>
                    </div> 

                    <div class="category">
                        <a href="/loja/pecas/motor" class="title">Motor</a>
                        <div class="subcategories">
                            <ul>
                                <li><a href="/loja/pecas/motor/pistoes">Pistoes</a></li>
                                <li><a href="/loja/pecas/motor/pistoes">Pistoes</a></li>
                                <li><a href="/loja/pecas/motor/pistoes">Pistoes</a></li>
                                <li><a href="/loja/pecas/motor/pistoes">Pistoes</a></li>
                                <li><a href="/lojapecas/motor/pistoes">Pistoes</a></li>
                            </ul>
                        </div>
                    </div> 

                    <div class="category">
                        <a href="/loja/pecas/motor" class="title">Motor</a>
                        <div class="subcategories">
                            <ul>
                                <li><a href="/loja/pecas/motor/pistoes">Pistoes</a></li>
                                <li><a href="/loja/pecas/motor/pistoes">Pistoes</a></li>
                                <li><a href="/loja/pecas/motor/pistoes">Pistoes</a></li>
                                <li><a href="/loja/pecas/motor/pistoes">Pistoes</a></li>
                                <li><a href="/lojapecas/motor/pistoes">Pistoes</a></li>
                            </ul>
                        </div>
                    </div> 
                </div>
            </div>
            </li>
        </ul>
    </div>
</header>
{{end}}